 
@model dynamic
  @if(Model!=null)
 {
     <h2>Abone Bilgileri</h2>
<p>Abone Id : @Model.user.Id<br /></p>
<p>Abone İsim : @Model.user.Name<br /></p>
<p>Abone Depozito : @Model.user.Deposit<br /></p>

<h2>Fatura Bilgileri</h2>
    @if(Model.dontpayment.Count!=0)
    {
        <p>Ödenmemiş Faturalar Mevcut</p>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">FaturaId</th>
      <th scope="col">Tutar</th>
      <th scope="col">Durum</th>
    </tr>
  </thead>
  <tbody>
                @foreach (var item in Model.dontpayment)
        {
               <tr>
      <th scope="row">@item.Id</th>
      <td>@item.Amount</td>
      <td>@item.Status</td>
    </tr>
        }
     
   
  </tbody>
        </table>
    }
    else
    {
             <p>Faturalar Ödenmiş</p>
                       <a asp-action="ClosedUser" asp-route-id="@Model.user.Id">Aboneliği Kapat</a>

    }
}
else
{
    <h4>Abonelik Kapatma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CloseUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
           @* <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>*@
               <div class="form-group">
                <label  class="control-label">Abone Id</label>
                <input name="id" class="form-control" />
                <span class="text-danger"></span>
            </div>
             
            <div class="form-group">
                <input type="submit" value="Kapat" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}